<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <div class="line-item font-grey">
    <p class="line-itm-image"><%= link_to(render('spree/shared/image',
                         image: (variant.gallery.images.first || variant.product.gallery.images.first),
                         size: :small), variant.product) %></p>
    <p class="line-itm-name"><%= link_to line_item.name, product_path(variant.product), class: 'font-grey' %></p>
      <%= variant.options_text %>
      <% if line_item.insufficient_stock? %>
        <span class="out-of-stock">
          <%= t('spree.out_of_stock') %>&nbsp;&nbsp;<br />
        </span>
      <% end %>
      <p class="line-itm-quantity"><%= item_form.number_field :quantity, min: 0, class: 'quantity-form' %></p>
      <p class="line-itm-total"><%= line_item.display_amount.to_html unless line_item.quantity.nil? %></p>
  </div>
  <hr>
<% end %>
