<% if products.any? %>
  <div class="products-listing">
    <% products.each do |product| %>
      <% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>
      <div class="product-box">
          <p class="porduct-image">
            <%= link_to spree.product_path(product.id) do%>
             <%= image_tag product.display_image.attachment(:product) %>
            <% end %>
          </p>
          <p class="product-name wf-nicomoji">
            <%= link_to spree.product_path(product.id), class: 'font-grey' do%>
              <%= product.name %>
            <% end %>
          </p>
          <p class="product-price wf-nicomoji font-grey"><%= product.display_price %></p>
      </div>
    <% end %>
  </div>
<% end %>
