<div class="form-group">
  <%= f.label :email, 'Email', class: 'control-label wf-nicomoji' %>
  <div class="form-item has-feedback">
    <%= f.email_field :email, class: 'form-control', type: 'email' %>
    <i class="fas fa-envelope form-control-feedback"></i>
  </div>
</div>

<div class="form-group">
  <%= f.label :name, 'Username', class: 'control-label wf-nicomoji' %>
  <div class="form-item has-feedback">
    <%= f.email_field :name, class: 'form-control', type: 'text' %>
    <i class="fas fa-user form-control-feedback"></i>
  </div>
</div>

<div class="form-group">
  <%= f.label :password, 'Password', class: 'control-label wf-nicomoji' %>
  <div class="form-item has-feedback">
    <%= f.password_field :password, class: 'form-control', type: 'password' %>
    <i class="fas fa-lock form-control-feedback"></i>
  </div>
</div>

<div class="form-group">
  <%= f.label :password, 'Password', class: 'control-label wf-nicomoji' %>
  <div class="form-item has-feedback">
    <%= f.password_field :password_confirmation, class: 'form-control', type: 'password' %>
    <i class="fas fa-check-circle form-control-feedback"></i>
  </div>
</div>
