<div class="field">
  <%= f.label :email, 'Email', class: 'label wf-nicomoji' %>
  <div class="control has-icons-left">
    <%= f.email_field :email, class: 'input', type: 'email', placeholder: 'e.g. hogehoge@gmail.com' %>
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </div>
</div>

<div class="field">
  <%= f.label :name, 'Username', class: 'label wf-nicomoji' %>
  <div class="control has-icons-left">
    <%= f.email_field :name, class: 'input', type: 'text' %>
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </div>
</div>

<div class="field">
  <%= f.label :password, 'Password', class: 'label wf-nicomoji' %>
  <div class="control has-icons-left">
    <%= f.password_field :password, class: 'input', type: 'password' %>
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </div>
</div>

<div class="field">
  <%= f.label :password_condirmation, 'Confirmation', class: 'label wf-nicomoji' %>
  <div class="control has-icons-left">
    <%= f.password_field :password_confirmation, class: 'input', type: 'password' %>
    <span class="icon is-small is-left">
      <i class="fas fa-check-circle"></i>
    </span>
  </div>
</div>
