<% @body_id = 'login' %>

<%= render 'spree/shared/error_messages', target: resource %>

<div class="customer">
  <div class="form container font-grey">
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <p class="subtitle text-center wf-nicomoji">Welcome to <br>Minnano Organic!</p>

    <div class="form-item container">
      <%= render partial: 'spree/shared/login' %>
      <p class="form-item description">Or <%= link_to 'Create a new account', spree.signup_path, class: 'font-grey' %> / <%= link_to 'Forgot your password?', spree.recover_password_path, class: 'font-grey' %></p>
    </div>
  </div>
</div>
